extends layout

block content
  body
    h1.text-center.text-uppercase.font-weight-bolder.display-3.mt-4
      | Studiemedel
    .container.mt-4
      .col.text-center.text-uppercase.font-weight-bolder.bg-dark.text-white
        p Allan faktablad 2020
      .row.mt-4
        .col
          p.font-italic
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            | dolorum ipsa ratione accusamus, molestiae qui cumque vero natus
            | nulla perferendis sed quae fugit aut minus nemo, temporibus
            | veritatis dignissimos explicabo.
          .mt-2
            h4 Lorem, ipsum dolor sit amet?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
              | expedita ullam numquam corporis quos nostrum excepturi repellat,
              | quasi assumenda porro quae blanditiis fuga beatae soluta
              | reiciendis provident ea inventore ex. Lorem, ipsum dolor sit amet
              | consectetur adipisicing elit. Quia, perspiciatis. Similique
              | accusantium nihil voluptatum? Officia deleniti exercitationem
              | dolore, quae asperiores saepe debitis necessitatibus aut culpa sit
              | voluptate beatae dolores quia.
          p.text-uppercase Lorem ipsum dolor sit amet
          table.table.table-sm
            thead
            thead
              tr
                td(scope='col')
                  p Lorem ipsum dolor sit amet.
                td(scope='col')
                  p Nostrum nulla.
            tbody
              tr
                td.text-center
                  | 1 
                  br
                  |                     2 
                  br
                  |                     3 
                  br
                  |                     4 
                  br
                  |                     5 
                  br
                  |                     6 
                  br
                  |                     7 
                  br
                  |                     ...
                td.text-center
                  | 100 
                  br
                  |                     200 
                  br
                  |                     300 
                  br
                  |                     400 
                  br
                  |                     500 
                  br
                  |                     600 
                  br
                  |                     700 
                  br
                  |                     ...
            tbody
              tr
                td
          .mt-2
            h4 Lorem, ipsum dolor sit amet?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea minus vel ipsa numquam asperiores id eius! Illum laborum rem tempora eaque dolores molestias cupiditate, adipisci sed veniam hic omnis, id velit quod accusamus beatae quam quos minima sequi corporis consectetur, praesentium quia labore repudiandae maxime? Enim sequi molestiae doloribus?
          .mt-2
            h4 Lorem, ipsum dolor sit amet?
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reprehenderit. adipisicing elit. Nobis
              | assumenda impedit.
        .col
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis eius
            | voluptate voluptas ipsa sit totam nisi repudiandae, cupiditate
            | laboriosam quibusdam accusamus ut dolorum, obcaecati cum dolor
            | perferendis aspernatur placeat hic!
          h4 Lorem ipsum dolor, sit amet.
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis eius
            | voluptate voluptas ipsa sit totam nisi repudiandae, cupiditate
            | laboriosam quibusdam accusamus ut dolorum, obcaecati cum dolor
            | perferendis aspernatur placeat hic!
          table.table.table-sm
            thead
              tr
                td(scope='col')
                  p Lorem.
                td(scope='col')
                  p Ipsum.
            tbody
              tr
                td.text-center
                  | Dolor 
                  br
                  |                     69% 
                  br
                  |                     420%
                td.text-center
                  | 10 
                  br
                  |                     11-20 
                  br
                  |                     21-29
            tbody
              tr
                td
          h4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nisi
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          h4 Sapiente vero veritatis distinctio!
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ab aperiam amet minima iusto reiciendis ratione cupiditate magnam aspernatur voluptates itaque nesciunt quia, enim, ad voluptatum nisi culpa inventore sit?
          h4.text-uppercase Atque, blanditiis odit. Illum ex natus ut temporibus cum
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum reprehenderit quo, nulla voluptatum, deserunt repellendus dicta obcaecati magnam perferendis minima modi dolorem necessitatibus impedit eum quae. Autem cupiditate quae magnam!
        .col
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
            | assumenda impedit vitae sit unde ullam architecto placeat tempora
            | sunt consectetur dolorum sapiente ex nihil itaque nulla, numquam quo
            | neque quos?
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
